{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-2 text-center">CONTACT INFORMATION</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-6 col-md-5 offset-md-2 col-lg-8 offset-lg-0">
            <table class="table table-hover ">
                <thead>
                  
                </thead>
                <tbody>
                  
                  <tr>
                    <th scope="row">Address: </th>
                    <td>38 Premier Road, Premier Town, PR38 8PR</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Tel: </th>
                    <td>01903 764718</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Email: </th>
                    <td>info@premiertakeaway.co.uk</td>
                    
                  </tr>
                  
                </tbody>
              </table>
              <hr>
        </div>
    </div>

    
</div>
</div>
{% endblock %}