{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
  <div class="row">
    <div class="col">
       <h2 class="logo-font mb-2 text-center">DELIVERY INFORMATION</h2>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-6 col-md-5 offset-md-2 col-lg-8 offset-lg-0">
      <table class="table table-hover ">
        <thead>

        </thead>
        <tbody>
          <tr>
            <th scope="row">1.</th>
            <td>PLEASE NOTE THAT OUR DISHES MAY CONTAIN ONE OR MORE OF THE FOLLOWING ALLERGENS:<br>Cereal, Peanuts,
              Nuts, Fish, Crustacean, Shellfish, Sesame Seeds, Eggs, Milk, Gluten, Soya, Celery and Celeriac, Mustard,
              Sulphur Dioxide and Sulphites.</td>


          </tr>
          <tr>
            <th scope="row">2.</th>
            <td>Average Delivery Time: 45-50 min.</td>

          </tr>
          <tr>
            <th scope="row">3.</th>
            <td>If you have a food allergy or intolerance (or someone you are ordering for has), please call our shop
              and ask a member of staff.</td>

          </tr>
          <tr>
            <th scope="row">4.</th>
            <td>Please check if your address is within our delivery area before ordering.</td>

          </tr>
          <tr>
            <th scope="row">5.</th>
            <td>Prices may be subject to change without prior notice.</td>

          </tr>
          <tr>
            <th scope="row">6.</th>
            <td>Price and portions may vary between delivery and takeaway.</td>

          </tr>

        </tbody>
      </table>
      <hr>
    </div>
  </div>


</div>
</div>
{% endblock %}