{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-2 text-center">DELIVERY HOURS</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-6 col-md-5 offset-md-2 col-lg-8 offset-lg-0 text-center">
            <table class="table table-hover ">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Opening Time</th>
                    <th scope="col">Closing Time</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Monday</th>
                    <td>12:00</td>
                    <td>23:00</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Tuesday</th>
                    <td>12:00</td>
                    <td>23:00</td>
                  </tr>
                  <tr>
                    <th scope="row">Wednesday</th>
                    <td>12:00</td>
                    <td>23:00</td>
                  </tr>
                  <tr>
                    <th scope="row">Thursday</th>
                    <td>12:00</td>
                    <td>23:00</td>
                  </tr>
                  <tr>
                    <th scope="row">Friday</th>
                    <td>11:30</td>
                    <td>23:45</td>
                  </tr>
                  <tr>
                    <th scope="row">Saturday</th>
                    <td>11:30</td>
                    <td>23:45</td>
                  </tr>
                  <tr>
                    <th scope="row">Sunday</th>
                    <td>13:30</td>
                    <td>21:45</td>
                  </tr>
                </tbody>
              </table>
              <hr>
        </div>
    </div>

    
</div>
</div>
{% endblock %}