<div class="footer-container">

</div>

<footer class="footer container-fluid">
    <div class="row footer-content">
        <div class="col-12 col-md-8 text-left">
            <p class="m-0">&copy; 2023 PREMIER TAKEAWAY</p>
        </div>
        <div class="col-6 col-md-4 text-right">
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
              </ul>
        </div>
    </div>
</footer>