<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fish-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fish & Chips
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fish-link">
                <a href="{% url 'products' %}?category=fish" class="dropdown-item">Freshly Cooked Fish</a>
                <a href="{% url 'products' %}?category=chips" class="dropdown-item">Freshly Cooked Chips</a>
                <a href="{% url 'products' %}?category=pies" class="dropdown-item">Pies</a>
                <a href="{% url 'products' %}?category=sausages" class="dropdown-item">Sausages</a>
                <a href="{% url 'products' %}?category=fish,chips,pies,sausages" class="dropdown-item">All Fish and
                    Chips Menu</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="burger-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Burgers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="burger-link">
                <a href="{% url 'products' %}?category=burgers" class="dropdown-item">Burgers</a>
                <a href="{% url 'products' %}?category=burgermeals" class="dropdown-item">Burger Meals</a>
                <a href="{% url 'products' %}?category=burgers,burgermeals" class="dropdown-item">All Burgers Menu</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="others-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Others
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="others-link">
                <a href="{% url 'products' %}?category=sides" class="dropdown-item">Side Orders</a>
                <a href="{% url 'products' %}?category=desserts" class="dropdown-item">Desserts</a>
                <a href="{% url 'products' %}?category=drinks" class="dropdown-item">Drinks</a>
                <a href="{% url 'products' %}?category=sides,desserts,drinks" class="dropdown-item">All Others Menu</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="meals-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Meal Deals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="meals-link">
                <a href="{% url 'products' %}?category=fishmeals" class="dropdown-item">Fish and Chips Meals</a>
                <a href="{% url 'products' %}?category=burgermeals" class="dropdown-item">Burger Meals</a>
                <a href="{% url 'products' %}?category=kidsmeals" class="dropdown-item">Kids Meals</a>
                <a href="{% url 'products' %}?category=fishmeals,burgermeals,kidsmeals" class="dropdown-item">All Meal
                    Deals</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Information
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'info' %}" class="dropdown-item">Delivery Hours</a>
                <a href="{% url 'delivery_info' %}" class="dropdown-item ">Delivery Information</a>
                <a href="{% url 'contact_info' %}" class="dropdown-item ">Contact Info</a>
                
            </div>
        </li>
    </ul>
</div>