<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fish-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fish & Chips
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fish-link">
                <a href="" class="dropdown-item">Freshly Cooked Fish</a>
                <a href="" class="dropdown-item">Freshly Cooked Chips</a>
                <a href="" class="dropdown-item">Pies</a>
                <a href="" class="dropdown-item">Sausages</a>
                <a href="" class="dropdown-item">All Fish and Chips Menu</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="burger-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Burgers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="burger-link">
                <a href="" class="dropdown-item">Burgers</a>
                <a href="" class="dropdown-item">Burger Meals</a>
                <a href="" class="dropdown-item">All Burgers Menu</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="others-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Others
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="others-link">
                <a href="" class="dropdown-item">Side Orders</a>
                <a href="" class="dropdown-item">Desserts</a>
                <a href="" class="dropdown-item">Drinks</a>
                <a href="" class="dropdown-item">All Others Menu</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="meals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Meal Deals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="meals-link">
                <a href="" class="dropdown-item">Fish and Chips Meals</a>
                <a href="" class="dropdown-item">Burger Meals</a>
                <a href="" class="dropdown-item">Kids Meals</a>
                <a href="" class="dropdown-item">All Meal Deals</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
    </ul>
</div>